<div class="user-list">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users$ | async">
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td><span *ngFor="let role of user.roles; let last = last">
          {{role.name}} <span *ngIf="!last"> | </span>
        </span></td>
        <td>
          <button class="btn btn-view" (click)="viewUser(user)">View</button>
          <button class="btn btn-edit" (click)="editUser(user)">Edit</button>
          <button class="btn btn-delete" (click)="deleteUser(user)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="add-user">
    <button class="btn btn-add" (click)="addUser()">Add User</button>
  </div>
  <app-modal-host #modalHost></app-modal-host>
</div>
