<form [formGroup]="userForm" (ngSubmit)="save()" *ngIf="mode === 'edit'">
    <label>Username</label>
    <input formControlName="username" />
    <label>Email</label>
    <input formControlName="email" type="email" />
    <label>Password</label>
    <input formControlName="password" />
    <label>Roles</label>
    <select formControlName="roles" multiple>
        <option *ngFor="let role of availableRoles$ | async" [ngValue]="role">
            {{role.name}}
        </option>
    </select>
    <button type="submit">save</button>
</form>
<!-- READ ONLY MODE-->
<div *ngIf="mode==='view'">
    <p><strong>Username : </strong>{{user?.username}}</p>
    <p><strong>Email : </strong>{{user?.email}}</p>
    <p><strong>Roles : </strong>{{roleNames}}</p>
</div>
